.jumbotron{
  background: url('/resources/img/hero.jpeg') no-repeat center center;
  background-size: cover;
  height: 90vh;
  padding-top: 0;
  border-radius: 0;
}

.spotlight, .testimonials{
  background: #E9EBED;
}

.container-fluid{
  padding: 0;
}

.heroCoin{
  height: 70%;
  max-width: 100%;
}

.form-control{
  width: 40%;
}

.blogImg{
  width: 35vh;
  height: 20vh;
}