.jumbotron{
  background: url('/resources/img/serviceHeor.jpeg') no-repeat center center;
  background-size: cover;
  height: 60vh;
  padding-top: 0;
  border-radius: 0;
}

.jumbotron h1{
  padding-top: 25vh;
}

.spotlight, .testimonials{
  background: #E9EBED;
}

.card-img-top{
  height: 67px;
  width: 67px;
  margin: 0 auto;
}