body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

ol,ul{
  list-style: none;
}

.jumbotron {
  background: url('/resources/img/hero.jpeg') no-repeat center center;
  background-size: cover;
  height: 90vh;
  padding-top: 0;
  border-radius: 0;
}

.jumbotron h1{
  padding-top: 30vh;
  font-weight: 100;
  
}

.spotlight, .testimonials {
  background: #E9EBED;
}

.active{
  border-bottom: solid #2F97DC;
}

.nav-item{
  padding: 7px 20px;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar .btn{
  text-transform: uppercase;
  border-radius: 100px;
  padding: 7px 20px;
  font-weight: 700;
}

.navbar-brand{
  filter: brightness(20%);
}

.subText{
  line-height: 2em;
}

#action{
  background-color: #5CB785;
  border-radius: 100px;
  padding: 14px 10px 14px;
  font-size: 16px;
  font-weight: 700;
  min-width: 199px;
  letter-spacing: .1em;
}

.align{
  margin-top: 30px;
}

.fa-angle-right{
  font-size: 50px;
  border: solid;              
  border-radius: 100%;
  padding: 4px 20px;
}

.spotlight{
  padding: 5%;
}

.spotlight p{
  font-weight: 400;
}

.weImage{
  width: 105%;
  overflow: auto
}

.textWeAre{
  padding: 15% 6%;
}

.testiBlocks{
  margin-left: 12%;
}

.testimonials p{
  font-weight: 300;
}

.blog{
  padding: 7%;
  margin: 0 5%;
}

.blog h4{
  font-size: 18px;
  line-height: 28px;
}

.card-body{
  padding: 10px 0;
}

hr{
  color: #3287C4;
  background-color: #3287C4;
  height: 2px;
  width: 4%;
}

.darkBlue h1{
  padding: 40px 60px 50px;
  margin-top: 10px;
}

.lightBlue{
  background: #3287C4;
}

.lightBlue p{
  margin-left: 75%;
  font-weight: 700;
  font-size: 12px;
}

.darkBlue{
  background: #2E7CB4;
}

.footerMain{
  background: #323435;
  padding-top: 48px;
  padding-bottom: 28px;
}

footer h2{
  color: #FFFFFF;
}

footer p, footer li{
  color: #8b9197;
}

footer li{
  font-size: 14px;
  padding-top: 10px;
}

.hrSpecial {
  width: 100%;
  background-color: #fff;
  height: 25%;
  filter: opacity(10%);
}

footer .fa{
  font-size: 30px;
}

/*mediaQueries*/

@media(max-width: 400px){
  .jumbotron .contactButton{
    visibility: hidden;
  }
}
  .jumbotron {
    height: 100vh;
  }
  
  .jumbotron h1{
    font-size: 64px;
    width: 100%;
    padding-top: 240px;
  }
  
    .jumbotron h4{
    font-size: 16px;
  }

    .awards{
      padding-top: 75px;
    }

    .awardsAmazon{
      padding-bottom: 75px;
    }

.socials{
  padding-right: 35px;
  margin-left: 35px;
}



  

}

/*/mediaQueries*/